<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pocket Random</title>
</head>
<body>
    <button onclick="retrieve()">取得文章</button>
    <div id="app"></div>
    <script>
        function retrieve() {
            fetch("https://localhost:3000/pocket/retrieve",{
                headers : {
                    "X-Requested-With" : "XMLHttpRequest"
                }
            })
            .then(res => res.text())
            .then(data =>{
                app.textContent = data
            })
        }
    </script>
</body>
</html>