@import 'env';
@import 'btn-theme';

.box-full{
    @extend %layoutBoxBase;
    max-width: $container-width-full;
}

.box-lg{
    @extend %layoutBoxBase;
    max-width: $container-width-lg;
}

.h2{
    font-size: 2em;
    font-weight: bold;
}
.h3{
    font-size: 1.75em;
    font-weight: bold;
}

.f-size-1rem{
    font-size: 1rem;
}
.f-size-rem120{
    font-size: 1.2rem;
}
.text-center{
    text-align: center;
}

.color-sub{
    color : $sub;
}
.color-main{
    color : $main;
}
.color--hover-main{
    &:hover{
        color : $main;
    }
}

.d-none{
    display: none;
}

.d-block{
    display: block;
}

.d-flex{
    display: flex;
}
.f-col{
    flex-direction: column;
}

.f-main-end{
    justify-content: flex-end;
}
.f-main-center{
    justify-content: center;
}

.f-cross-center{
    align-items: center;
}
.f-all-center{
    justify-content: center;
    align-items: center;
}

.f-self-cross-start{
    align-self: flex-start;
}

.flex-1{
    flex : 1 1 1px;
    // ie11 will not stretch when row, and basis is 0;
}
.f-wrap{
    flex-wrap: wrap;
}

.w-full{
    width: 100%;
}

.mg-r-025{
    margin-right: 0.25em;
}
.mg-r-050{
    margin-right: 0.5em;
}
.mg-b-050{
    margin-bottom: 0.5em;
}
.mg-b-100{
    margin-bottom: 1em;
}

.mg-l-050{
    margin-left: 0.5em;
}
.float-r{
    float: right;
}

.v-invisible{
    visibility: hidden;
}
.opacity-0{
    opacity: 0;
}

.circle{
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: #00988e;
}
.rect{
    width: 1em;
    height: 1em;
}
.svg-icon{
    width: 1em;
    height: 1em;
}


.editableInput{
    @extend %no-pointer-touch-device;
    cursor: pointer;
    transition : .1s;
    padding: 0;
    background-color: transparent;
    &:hover{
        box-shadow: 3px 3px 10px -3px dimgrey
    }
    &:focus{
        padding: 0.25em 0 0.25em 0.25em;
        box-shadow : none;
        cursor: text;
        background-color: #fff;
    }
}

.iconBox--hover-rotate{
    .icon{
        transition: transform .3s;
        will-change: transform;
    }
    &:hover{
        .icon{
            transform : rotate(-270deg);
        }
    }
}
.iconBox--hover-scale{
    .icon{
        transition: transform .3s;
        will-change: transform;
    }
    &:hover{
        .icon{
            transform : scale(1.5);
        }
    }
}
.ani--scale-up{
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-name: scale-up;

}
@keyframes scale-up{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1)
    }
}



@include pad{
    .d-none-pad{
        display: none;
    }
    .d-block-pad{
        display: block;
    }
    .w-full-pad{
        width: 100%;
    }
    .mg-b-050-pad{
        margin-bottom: 0.5em;
    }
    .d-block-pad{
        display: block;
    }
}